Garden Controller Flow
[{"id":"ea70858e.7cce38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ff0c207.23972c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c3cd1743.8c3e98","type":"tab","label":"Master","disabled":false,"info":""},{"id":"4561e151.728e","type":"tab","label":"Zone 1","disabled":false,"info":""},{"id":"b360ae6b.e4d5c","type":"tab","label":"Zone 2","disabled":false,"info":""},{"id":"90acc8cd.cb4ce8","type":"tab","label":"Zone 3","disabled":false,"info":""},{"id":"75bc10ad.6b138","type":"tab","label":"Zone 4","disabled":false,"info":""},{"id":"8cb5ced3.be127","type":"tab","label":"Zone 5","disabled":false,"info":""},{"id":"85292ef8.bbef1","type":"tab","label":"Zone 6","disabled":false,"info":""},{"id":"1905811.17e947f","type":"tab","label":"System","disabled":false,"info":""},{"id":"124890f2.14177f","type":"tab","label":"Timer2","disabled":false,"info":""},{"id":"f830a6cb.2b4fc8","type":"tab","label":"Timer2","disabled":false,"info":""},{"id":"2311c6b9.f89e0a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"60db98fa.a44948","type":"subflow","name":"Timer Settings","info":"","category":"","in":[{"x":500,"y":320,"wires":[{"id":"ee704887.eb17d8"}]}],"out":[{"x":740,"y":320,"wires":[{"id":"ee704887.eb17d8","port":0}]}],"env":[{"name":"TimerNumber","type":"num","value":""},{"name":"PayloadON","type":"str","value":""},{"name":"PayloadOFF","type":"str","value":""}],"color":"#DDAA99"},{"id":"7e7da75a.bc2568","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ec3cca97.1143f8","type":"ui_group","name":"Garden pi","tab":"d0ffb982.316bc8","order":1,"disp":false,"width":"4","collapse":false},{"id":"d0ffb982.316bc8","type":"ui_tab","name":"Garden Master Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e09cb415.12d4c8","type":"ui_group","name":"Zone 1","tab":"e19e8676.4f9fd8","order":2,"disp":false,"width":"6","collapse":false},{"id":"e19e8676.4f9fd8","type":"ui_tab","name":"Zone 1 Timer","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"85a33309.bc607","type":"ui_group","name":"Zone 2","tab":"9d632ff3.1fee3","order":2,"disp":false,"width":"6","collapse":false},{"id":"9d632ff3.1fee3","type":"ui_tab","name":"Zone 2 Timer","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"9c093309.f63e3","type":"ui_group","name":"Zone 3","tab":"a2a32b47.efcb28","order":2,"disp":false,"width":"6","collapse":false},{"id":"a2a32b47.efcb28","type":"ui_tab","name":"Zone 3 Timer","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2bafba2a.dfca76","type":"ui_group","name":"Zone 4","tab":"e3a990d5.66e0d","order":2,"disp":false,"width":"6","collapse":false},{"id":"e3a990d5.66e0d","type":"ui_tab","name":"Zone 4 Timer","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"207335d1.ca82ea","type":"ui_group","name":"Zone 5","tab":"e579644d.61c7e8","order":2,"disp":false,"width":"6","collapse":false},{"id":"e579644d.61c7e8","type":"ui_tab","name":"Zone 5 Timer","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f09b4c6b.32634","type":"ui_group","name":"Zone 6","tab":"3f12ae56.a206c2","order":2,"disp":false,"width":"6","collapse":false},{"id":"3f12ae56.a206c2","type":"ui_tab","name":"Zone 6 Timer","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"92be5eba.dcf83","type":"ui_group","name":"CPU","tab":"755d035c.1aec9c","order":2,"disp":true,"width":"6","collapse":true},{"id":"1e793d68.8cbdb3","type":"ui_group","name":"SD card","tab":"755d035c.1aec9c","order":4,"disp":false,"width":"6","collapse":false},{"id":"a5e26c52.a4b16","type":"ui_group","name":"Memory","tab":"755d035c.1aec9c","order":3,"disp":true,"width":"6","collapse":true},{"id":"7d77278e.5adf88","type":"ui_group","name":"Buttons","tab":"755d035c.1aec9c","order":1,"disp":false,"width":"3","collapse":false},{"id":"755d035c.1aec9c","type":"ui_tab","name":"System","icon":"settings","order":8},{"id":"55f778bc.64b948","type":"ui_switch","z":"c3cd1743.8c3e98","name":"","label":"Zone 1","tooltip":"","group":"ec3cca97.1143f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":80,"wires":[["2d42d01c.a434a","cdf58eca.3b1cd","a7a46981.4f2968"]]},{"id":"2d42d01c.a434a","type":"rpi-gpio out","z":"c3cd1743.8c3e98","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":410,"y":80,"wires":[]},{"id":"d0d25150.feb8f","type":"ui_switch","z":"c3cd1743.8c3e98","name":"","label":"Zone 2","tooltip":"","group":"ec3cca97.1143f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":140,"wires":[["f90dc8ef.5ba268","45b5a260.832a7c","9fea9d8.d42776"]]},{"id":"d4c62652.d8ed98","type":"ui_switch","z":"c3cd1743.8c3e98","name":"","label":"Zone 3","tooltip":"","group":"ec3cca97.1143f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":200,"wires":[["6a95a72d.b72e58","7b8df070.122d9","b38f3784.451ef8"]]},{"id":"70cca2ea.40e2fc","type":"ui_switch","z":"c3cd1743.8c3e98","name":"","label":"Zone 4","tooltip":"","group":"ec3cca97.1143f8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":260,"wires":[["7d49adde.25cde4","67cbf9d.f5bbf08","713db78a.2b8d18"]]},{"id":"8baf245f.c036c8","type":"ui_switch","z":"c3cd1743.8c3e98","name":"","label":"Zone 5","tooltip":"","group":"ec3cca97.1143f8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":320,"wires":[["95785d05.b33fa","74201607.4e2b38","1b1e663c.ec6bda"]]},{"id":"508f3fd.d108bc","type":"ui_switch","z":"c3cd1743.8c3e98","name":"","label":"Zone 6","tooltip":"","group":"ec3cca97.1143f8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":380,"wires":[["2dbe1d6.d1ee7e2","fea58323.38e38","5339596d.b263c8"]]},{"id":"f90dc8ef.5ba268","type":"rpi-gpio out","z":"c3cd1743.8c3e98","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":410,"y":140,"wires":[]},{"id":"6a95a72d.b72e58","type":"rpi-gpio out","z":"c3cd1743.8c3e98","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":410,"y":200,"wires":[]},{"id":"7d49adde.25cde4","type":"rpi-gpio out","z":"c3cd1743.8c3e98","name":"","pin":"32","set":true,"level":"0","freq":"","out":"out","x":410,"y":260,"wires":[]},{"id":"95785d05.b33fa","type":"rpi-gpio out","z":"c3cd1743.8c3e98","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":410,"y":320,"wires":[]},{"id":"2dbe1d6.d1ee7e2","type":"rpi-gpio out","z":"c3cd1743.8c3e98","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":410,"y":380,"wires":[]},{"id":"aa2ab27b.68604","type":"ui_audio","z":"c3cd1743.8c3e98","name":"","group":"ec3cca97.1143f8","voice":"Lee","always":true,"x":1000,"y":240,"wires":[]},{"id":"cdf58eca.3b1cd","type":"change","z":"c3cd1743.8c3e98","name":"change on io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Zone one on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[["aa2ab27b.68604"]]},{"id":"a7a46981.4f2968","type":"change","z":"c3cd1743.8c3e98","name":"change off io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Zone one off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":80,"wires":[["aa2ab27b.68604"]]},{"id":"45b5a260.832a7c","type":"change","z":"c3cd1743.8c3e98","name":"change on io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Zone 2 on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["aa2ab27b.68604"]]},{"id":"9fea9d8.d42776","type":"change","z":"c3cd1743.8c3e98","name":"change off io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Zone 2 off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":140,"wires":[["aa2ab27b.68604"]]},{"id":"7b8df070.122d9","type":"change","z":"c3cd1743.8c3e98","name":"change on io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Zone 3 on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["aa2ab27b.68604"]]},{"id":"b38f3784.451ef8","type":"change","z":"c3cd1743.8c3e98","name":"change off io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Zone 3 off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":200,"wires":[["aa2ab27b.68604"]]},{"id":"67cbf9d.f5bbf08","type":"change","z":"c3cd1743.8c3e98","name":"change on io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Zone 4 on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["aa2ab27b.68604"]]},{"id":"713db78a.2b8d18","type":"change","z":"c3cd1743.8c3e98","name":"change off io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Zone 4 off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":260,"wires":[["aa2ab27b.68604"]]},{"id":"74201607.4e2b38","type":"change","z":"c3cd1743.8c3e98","name":"change on io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Zone 5 on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["aa2ab27b.68604"]]},{"id":"1b1e663c.ec6bda","type":"change","z":"c3cd1743.8c3e98","name":"change off io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Zone 5 off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":320,"wires":[["aa2ab27b.68604"]]},{"id":"fea58323.38e38","type":"change","z":"c3cd1743.8c3e98","name":"change on io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Zone 6 on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["aa2ab27b.68604"]]},{"id":"5339596d.b263c8","type":"change","z":"c3cd1743.8c3e98","name":"change off io to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Zone 6 off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":380,"wires":[["aa2ab27b.68604"]]},{"id":"ee704887.eb17d8","type":"function","z":"60db98fa.a44948","name":"","func":"var x = env.get(\"TimerNumber\"); \nvar y = env.get(\"PayloadON\"); \nvar z = env.get(\"PayloadOFF\"); \n\nflow.set(\"$parent.Timer\"+x, x);\nflow.set(\"$parent.Payload\"+x+\"_on\", y);\nflow.set(\"$parent.Timer\"+x+\"_off\", z);\n\n\n\nmsg.payload = \"Your timer \" + x + \" has been set\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":320,"wires":[[]]},{"id":"4d69abad.b4ae64","type":"link in","z":"c3cd1743.8c3e98","name":"z1","links":["4a5fa535.a8fa2c","961d7e3b.f66e6"],"x":155,"y":80,"wires":[["55f778bc.64b948"]]},{"id":"85f03525.0ee678","type":"link in","z":"c3cd1743.8c3e98","name":"","links":["cadb65da.61f958","ecbb86e9.39e9e8"],"x":155,"y":140,"wires":[["d0d25150.feb8f"]]},{"id":"ef04c103.577dc","type":"link in","z":"c3cd1743.8c3e98","name":"","links":["92045501.01dac8","83869c43.ca03b"],"x":150,"y":200,"wires":[["d4c62652.d8ed98"]]},{"id":"8a3eac5.a5b355","type":"link in","z":"c3cd1743.8c3e98","name":"","links":["8cd577a8.8800f8","5733fc3b.3dbd24"],"x":150,"y":260,"wires":[["70cca2ea.40e2fc"]]},{"id":"ff5bca31.f9c878","type":"link in","z":"c3cd1743.8c3e98","name":"","links":["a5803f76.fca4e","37b45b0.9923ea6"],"x":150,"y":320,"wires":[["8baf245f.c036c8"]]},{"id":"d896d65f.0483f8","type":"link in","z":"c3cd1743.8c3e98","name":"","links":["89887542.30c9b8","61e3206b.f5849"],"x":150,"y":380,"wires":[["508f3fd.d108bc"]]},{"id":"7ef46ce7.84c034","type":"inject","z":"1905811.17e947f","name":"1 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["9616c946.254478","904219fc.d3d828","c498fc55.fca3c","2c775bb4.4920a4"]]},{"id":"f39de620.e77bd8","type":"ui_gauge","z":"1905811.17e947f","name":"","group":"92be5eba.dcf83","order":1,"width":3,"height":3,"gtype":"gage","title":"CPU load","label":"%","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":620,"y":220,"wires":[]},{"id":"96a8281e.35c768","type":"ui_chart","z":"1905811.17e947f","name":"","group":"92be5eba.dcf83","order":3,"width":6,"height":4,"label":"Load, %","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":620,"y":260,"wires":[[]]},{"id":"f0db770a.c1e428","type":"ui_gauge","z":"1905811.17e947f","name":"","group":"a5e26c52.a4b16","order":2,"width":0,"height":0,"gtype":"donut","title":"RAM usage","label":"%","format":"{{msg.payload.memusage}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":790,"y":180,"wires":[]},{"id":"198c1015.e11db","type":"ui_chart","z":"1905811.17e947f","name":"","group":"a5e26c52.a4b16","order":3,"width":0,"height":0,"label":"Ram History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":220,"wires":[[]]},{"id":"dfaef66e.141cb8","type":"ui_gauge","z":"1905811.17e947f","name":"","group":"92be5eba.dcf83","order":2,"width":3,"height":3,"gtype":"gage","title":"CPU Temp","label":"°C","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#0080ff","#ffffff","#ca3838"],"seg1":"70","seg2":"85","x":790,"y":260,"wires":[]},{"id":"6734bd42.c53b74","type":"function","z":"1905811.17e947f","name":"extract","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["198c1015.e11db"]]},{"id":"53ffc3d7.77a98c","type":"function","z":"1905811.17e947f","name":"convert_uptime","func":"var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":120,"wires":[["38ed6897.ebaad8"]]},{"id":"9616c946.254478","type":"exec","z":"1905811.17e947f","command":"/opt/vc/bin/vcgencmd measure_temp | egrep -o \"[0-9]+\\.[0-9]+?\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_T","x":380,"y":280,"wires":[["dfaef66e.141cb8","be5f98f7.af81c8"],[],[]]},{"id":"be5f98f7.af81c8","type":"ui_chart","z":"1905811.17e947f","name":"","group":"92be5eba.dcf83","order":4,"width":6,"height":3,"label":"Temperature, °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":780,"y":300,"wires":[[]]},{"id":"38ed6897.ebaad8","type":"ui_text","z":"1905811.17e947f","group":"a5e26c52.a4b16","order":1,"width":0,"height":0,"name":"","label":"Uptime, d:h:m:s","format":"{{ msg.payload }}","layout":"row-spread","x":800,"y":120,"wires":[]},{"id":"2c775bb4.4920a4","type":"exec","z":"1905811.17e947f","command":"top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cpu_load","x":380,"y":220,"wires":[["f39de620.e77bd8","96a8281e.35c768"],[],[]]},{"id":"c498fc55.fca3c","type":"Uptime","z":"1905811.17e947f","name":"Uptime","x":380,"y":120,"wires":[["53ffc3d7.77a98c"]]},{"id":"904219fc.d3d828","type":"Memory","z":"1905811.17e947f","name":"","x":380,"y":160,"wires":[["f0db770a.c1e428","6734bd42.c53b74"]]},{"id":"b3046a2e.724b98","type":"ui_text_input","z":"4561e151.728e","name":"Off Time","label":"Off Time","tooltip":"","group":"e09cb415.12d4c8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"off_time","x":171,"y":122,"wires":[["35de4408.405cbc"]]},{"id":"c0a1faee.650d28","type":"ui_text_input","z":"4561e151.728e","name":"On Time","label":"On Time","tooltip":"","group":"e09cb415.12d4c8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"on_time","x":171,"y":82,"wires":[["35de4408.405cbc"]]},{"id":"f6c4b865.adb3b8","type":"ui_button","z":"4561e151.728e","name":"Submit","group":"e09cb415.12d4c8","order":3,"width":0,"height":0,"passthru":false,"label":"Submit Timer Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","x":160,"y":40,"wires":[["35de4408.405cbc","4a4a241b.a5699c"]]},{"id":"35de4408.405cbc","type":"function","z":"4561e151.728e","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n      newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"noerr":0,"x":341,"y":102,"wires":[["4b71c8c.70cfd38"],[]]},{"id":"961d7e3b.f66e6","type":"link out","z":"4561e151.728e","name":"","links":["4d69abad.b4ae64"],"x":735,"y":100,"wires":[]},{"id":"14b3fe1d.45ee32","type":"ui_text_input","z":"90acc8cd.cb4ce8","name":"Off Time","label":"Off Time","tooltip":"","group":"9c093309.f63e3","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"off_time","x":240,"y":140,"wires":[["1b897562.274a6b"]]},{"id":"2d562a5a.198336","type":"ui_text_input","z":"90acc8cd.cb4ce8","name":"On Time","label":"On Time","tooltip":"","group":"9c093309.f63e3","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"on_time","x":240,"y":100,"wires":[["1b897562.274a6b"]]},{"id":"867e637d.575bf","type":"ui_button","z":"90acc8cd.cb4ce8","name":"Submit","group":"9c093309.f63e3","order":3,"width":0,"height":0,"passthru":false,"label":"Submit Timer Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","x":240,"y":60,"wires":[["1b897562.274a6b","1a750245.7bf58e"]]},{"id":"1b897562.274a6b","type":"function","z":"90acc8cd.cb4ce8","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n      newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"noerr":0,"x":410,"y":120,"wires":[["1546b80d.a15c18"],[]]},{"id":"5660b904.a479b8","type":"ui_text_input","z":"75bc10ad.6b138","name":"Off Time","label":"Off Time","tooltip":"","group":"2bafba2a.dfca76","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"off_time","x":180,"y":220,"wires":[["c309e525.4d0818"]]},{"id":"70508646.fdf708","type":"ui_text_input","z":"75bc10ad.6b138","name":"On Time","label":"On Time","tooltip":"","group":"2bafba2a.dfca76","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"on_time","x":180,"y":180,"wires":[["c309e525.4d0818"]]},{"id":"21d142a9.ebc57e","type":"ui_button","z":"75bc10ad.6b138","name":"Submit","group":"2bafba2a.dfca76","order":3,"width":0,"height":0,"passthru":false,"label":"Submit Timer Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","x":180,"y":140,"wires":[["c309e525.4d0818","4c231f01.b2459"]]},{"id":"c309e525.4d0818","type":"function","z":"75bc10ad.6b138","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n      newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"noerr":0,"x":350,"y":200,"wires":[["507353f.e1102ac"],[]]},{"id":"4522477.8cb38b8","type":"ui_text_input","z":"8cb5ced3.be127","name":"Off Time","label":"Off Time","tooltip":"","group":"207335d1.ca82ea","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"off_time","x":260,"y":140,"wires":[["be67e15.b9bea2"]]},{"id":"222fc5ce.50739a","type":"ui_text_input","z":"8cb5ced3.be127","name":"On Time","label":"On Time","tooltip":"","group":"207335d1.ca82ea","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"on_time","x":260,"y":100,"wires":[["be67e15.b9bea2"]]},{"id":"23ab6983.5c7316","type":"ui_button","z":"8cb5ced3.be127","name":"Submit","group":"207335d1.ca82ea","order":3,"width":0,"height":0,"passthru":false,"label":"Submit Timer Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","x":260,"y":60,"wires":[["be67e15.b9bea2","6ec6dab4.8b7214"]]},{"id":"be67e15.b9bea2","type":"function","z":"8cb5ced3.be127","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n      newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"noerr":0,"x":430,"y":120,"wires":[["c0c4d271.4ae76"],[]]},{"id":"5c1dbbd3.a12724","type":"ui_text_input","z":"85292ef8.bbef1","name":"Off Time","label":"Off Time","tooltip":"","group":"f09b4c6b.32634","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"off_time","x":260,"y":140,"wires":[["77debbe3.53b3e4"]]},{"id":"389c743c.fd368c","type":"ui_text_input","z":"85292ef8.bbef1","name":"On Time","label":"On Time","tooltip":"","group":"f09b4c6b.32634","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"on_time","x":260,"y":100,"wires":[["77debbe3.53b3e4"]]},{"id":"be2745f8.8224a8","type":"ui_button","z":"85292ef8.bbef1","name":"Submit","group":"f09b4c6b.32634","order":3,"width":0,"height":0,"passthru":false,"label":"Submit Timer Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","x":260,"y":60,"wires":[["77debbe3.53b3e4","adf78937.68bc78"]]},{"id":"77debbe3.53b3e4","type":"function","z":"85292ef8.bbef1","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n      newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"noerr":0,"x":430,"y":120,"wires":[["7a9b3530.8ce9ec"],[]]},{"id":"ecbb86e9.39e9e8","type":"link out","z":"b360ae6b.e4d5c","name":"","links":["85f03525.0ee678"],"x":700,"y":140,"wires":[]},{"id":"83869c43.ca03b","type":"link out","z":"90acc8cd.cb4ce8","name":"","links":["ef04c103.577dc"],"x":755,"y":120,"wires":[]},{"id":"5733fc3b.3dbd24","type":"link out","z":"75bc10ad.6b138","name":"","links":["8a3eac5.a5b355"],"x":707,"y":211,"wires":[]},{"id":"37b45b0.9923ea6","type":"link out","z":"8cb5ced3.be127","name":"","links":["ff5bca31.f9c878"],"x":800,"y":120,"wires":[]},{"id":"61e3206b.f5849","type":"link out","z":"85292ef8.bbef1","name":"","links":["d896d65f.0483f8"],"x":820,"y":120,"wires":[]},{"id":"b67fddb9.70668","type":"exec","z":"1905811.17e947f","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":400,"wires":[[],[],[]]},{"id":"83c5609d.6705d","type":"exec","z":"1905811.17e947f","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":460,"wires":[[],[],[]]},{"id":"8a79eb7f.fc1f58","type":"ui_button","z":"1905811.17e947f","name":"","group":"1e793d68.8cbdb3","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["b67fddb9.70668"]]},{"id":"593b1ca1.b5ec54","type":"ui_button","z":"1905811.17e947f","name":"","group":"1e793d68.8cbdb3","order":3,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":460,"wires":[["83c5609d.6705d"]]},{"id":"6cc1a241.ee150c","type":"ui_text_input","z":"b360ae6b.e4d5c","name":"Off Time","label":"Off Time","tooltip":"","group":"85a33309.bc607","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"off_time","x":200,"y":160,"wires":[["95466416.530f38"]]},{"id":"60dc71ec.4927f","type":"ui_text_input","z":"b360ae6b.e4d5c","name":"On Time","label":"On Time","tooltip":"","group":"85a33309.bc607","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"on_time","x":200,"y":120,"wires":[["95466416.530f38"]]},{"id":"ff6e70cc.f63eb","type":"ui_button","z":"b360ae6b.e4d5c","name":"Submit","group":"85a33309.bc607","order":3,"width":0,"height":0,"passthru":false,"label":"Submit Timer Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","x":200,"y":80,"wires":[["95466416.530f38","64f248bf.1db118"]]},{"id":"95466416.530f38","type":"function","z":"b360ae6b.e4d5c","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n      newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"noerr":0,"x":370,"y":140,"wires":[["f9c89b24.cbd318"],[]]},{"id":"e39713d0.25bda","type":"ui_switch","z":"4561e151.728e","name":"","label":"Mon","tooltip":"","group":"e09cb415.12d4c8","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"mon true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mon false","offvalueType":"str","officon":"","offcolor":"","x":190,"y":240,"wires":[["4b71c8c.70cfd38"]]},{"id":"26734ca9.5d1fa4","type":"ui_switch","z":"4561e151.728e","name":"","label":"Tue","tooltip":"","group":"e09cb415.12d4c8","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"tue true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"tue false","offvalueType":"str","officon":"","offcolor":"","x":310,"y":240,"wires":[["4b71c8c.70cfd38"]]},{"id":"3da597f1.45af48","type":"ui_switch","z":"4561e151.728e","name":"","label":"Wed","tooltip":"","group":"e09cb415.12d4c8","order":6,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wed true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"wed false","offvalueType":"str","officon":"","offcolor":"","x":430,"y":240,"wires":[["4b71c8c.70cfd38"]]},{"id":"3d74684e.080978","type":"ui_switch","z":"4561e151.728e","name":"","label":"Thur","tooltip":"","group":"e09cb415.12d4c8","order":7,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"thu true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"thu false","offvalueType":"str","officon":"","offcolor":"","x":550,"y":240,"wires":[["4b71c8c.70cfd38"]]},{"id":"64ca10c8.d3141","type":"ui_switch","z":"4561e151.728e","name":"","label":"Fri","tooltip":"","group":"e09cb415.12d4c8","order":8,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"fri true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"fri false","offvalueType":"str","officon":"","offcolor":"","x":250,"y":280,"wires":[["4b71c8c.70cfd38"]]},{"id":"5da3125f.e5ca3c","type":"ui_switch","z":"4561e151.728e","name":"","label":"Sat","tooltip":"","group":"e09cb415.12d4c8","order":9,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sat true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sat false","offvalueType":"str","officon":"","offcolor":"","x":370,"y":280,"wires":[["4b71c8c.70cfd38"]]},{"id":"24d542ce.d96aee","type":"ui_switch","z":"4561e151.728e","name":"","label":"Sun","tooltip":"","group":"e09cb415.12d4c8","order":10,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sun true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sun false","offvalueType":"str","officon":"","offcolor":"","x":491,"y":277,"wires":[["4b71c8c.70cfd38"]]},{"id":"802855.d92787a8","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Mon","tooltip":"","group":"85a33309.bc607","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"mon true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mon false","offvalueType":"str","officon":"","offcolor":"","x":270,"y":260,"wires":[["f9c89b24.cbd318"]]},{"id":"b85275ad.d25d68","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Tue","tooltip":"","group":"85a33309.bc607","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"tue true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"tue false","offvalueType":"str","officon":"","offcolor":"","x":390,"y":260,"wires":[["f9c89b24.cbd318"]]},{"id":"e1a3a4b3.01a668","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Wed","tooltip":"","group":"85a33309.bc607","order":6,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wed true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"wed false","offvalueType":"str","officon":"","offcolor":"","x":510,"y":260,"wires":[["f9c89b24.cbd318"]]},{"id":"7df88c48.94ea94","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Thur","tooltip":"","group":"85a33309.bc607","order":7,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"thu true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"thu false","offvalueType":"str","officon":"","offcolor":"","x":630,"y":260,"wires":[["f9c89b24.cbd318"]]},{"id":"76fd51d5.d570e","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Fri","tooltip":"","group":"85a33309.bc607","order":8,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"fri true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"fri false","offvalueType":"str","officon":"","offcolor":"","x":330,"y":300,"wires":[["f9c89b24.cbd318"]]},{"id":"13a23432.3c362c","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Sat","tooltip":"","group":"85a33309.bc607","order":9,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sat true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sat false","offvalueType":"str","officon":"","offcolor":"","x":450,"y":300,"wires":[["f9c89b24.cbd318"]]},{"id":"fee11937.7dbbd8","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Sun","tooltip":"","group":"85a33309.bc607","order":10,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sun true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sun false","offvalueType":"str","officon":"","offcolor":"","x":571,"y":297,"wires":[["f9c89b24.cbd318"]]},{"id":"93413cfc.718d8","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Mon","tooltip":"","group":"9c093309.f63e3","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"mon true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mon false","offvalueType":"str","officon":"","offcolor":"","x":290,"y":240,"wires":[["1546b80d.a15c18"]]},{"id":"478fd255.17f2fc","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Tue","tooltip":"","group":"9c093309.f63e3","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"tue true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"tue false","offvalueType":"str","officon":"","offcolor":"","x":410,"y":240,"wires":[["1546b80d.a15c18"]]},{"id":"4642ef25.d295","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Wed","tooltip":"","group":"9c093309.f63e3","order":6,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wed true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"wed false","offvalueType":"str","officon":"","offcolor":"","x":530,"y":240,"wires":[["1546b80d.a15c18"]]},{"id":"b193ab61.0b9a18","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Thur","tooltip":"","group":"9c093309.f63e3","order":7,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"thu true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"thu false","offvalueType":"str","officon":"","offcolor":"","x":650,"y":240,"wires":[["1546b80d.a15c18"]]},{"id":"242497a8.c72ba8","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Fri","tooltip":"","group":"9c093309.f63e3","order":8,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"fri true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"fri false","offvalueType":"str","officon":"","offcolor":"","x":350,"y":280,"wires":[["1546b80d.a15c18"]]},{"id":"39915f59.12c13","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Sat","tooltip":"","group":"9c093309.f63e3","order":9,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sat true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sat false","offvalueType":"str","officon":"","offcolor":"","x":470,"y":280,"wires":[["1546b80d.a15c18"]]},{"id":"2c27e663.f818aa","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Sun","tooltip":"","group":"9c093309.f63e3","order":10,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sun true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sun false","offvalueType":"str","officon":"","offcolor":"","x":591,"y":277,"wires":[["1546b80d.a15c18"]]},{"id":"63cd3ced.9350c4","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Mon","tooltip":"","group":"2bafba2a.dfca76","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"mon true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mon false","offvalueType":"str","officon":"","offcolor":"","x":237,"y":311,"wires":[["507353f.e1102ac"]]},{"id":"dc3b6d27.c6e51","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Tue","tooltip":"","group":"2bafba2a.dfca76","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"tue true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"tue false","offvalueType":"str","officon":"","offcolor":"","x":357,"y":311,"wires":[["507353f.e1102ac"]]},{"id":"24877d37.be5ee2","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Wed","tooltip":"","group":"2bafba2a.dfca76","order":6,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wed true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"wed false","offvalueType":"str","officon":"","offcolor":"","x":477,"y":311,"wires":[["507353f.e1102ac"]]},{"id":"781f7101.ce1b1","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Thur","tooltip":"","group":"2bafba2a.dfca76","order":7,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"thu true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"thu false","offvalueType":"str","officon":"","offcolor":"","x":597,"y":311,"wires":[["507353f.e1102ac"]]},{"id":"f344bb5f.c5edb8","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Fri","tooltip":"","group":"2bafba2a.dfca76","order":8,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"fri true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"fri false","offvalueType":"str","officon":"","offcolor":"","x":297,"y":351,"wires":[["507353f.e1102ac"]]},{"id":"1ae16f24.5ae061","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Sat","tooltip":"","group":"2bafba2a.dfca76","order":9,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sat true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sat false","offvalueType":"str","officon":"","offcolor":"","x":417,"y":351,"wires":[["507353f.e1102ac"]]},{"id":"b0149eb3.b2679","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Sun","tooltip":"","group":"2bafba2a.dfca76","order":10,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sun true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sun false","offvalueType":"str","officon":"","offcolor":"","x":538,"y":348,"wires":[["507353f.e1102ac"]]},{"id":"81119858.476788","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Mon","tooltip":"","group":"207335d1.ca82ea","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"mon true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mon false","offvalueType":"str","officon":"","offcolor":"","x":330,"y":240,"wires":[["c0c4d271.4ae76"]]},{"id":"1e063e5e.e839f2","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Tue","tooltip":"","group":"207335d1.ca82ea","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"tue true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"tue false","offvalueType":"str","officon":"","offcolor":"","x":450,"y":240,"wires":[["c0c4d271.4ae76"]]},{"id":"4bf353aa.7d80fc","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Wed","tooltip":"","group":"207335d1.ca82ea","order":6,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wed true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"wed false","offvalueType":"str","officon":"","offcolor":"","x":570,"y":240,"wires":[["c0c4d271.4ae76"]]},{"id":"8a6b0bb.9f488f8","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Thur","tooltip":"","group":"207335d1.ca82ea","order":7,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"thu true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"thu false","offvalueType":"str","officon":"","offcolor":"","x":690,"y":240,"wires":[["c0c4d271.4ae76"]]},{"id":"a54337cc.88a7a8","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Fri","tooltip":"","group":"207335d1.ca82ea","order":8,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"fri true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"fri false","offvalueType":"str","officon":"","offcolor":"","x":390,"y":280,"wires":[["c0c4d271.4ae76"]]},{"id":"c8a3deca.c37ae","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Sat","tooltip":"","group":"207335d1.ca82ea","order":9,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sat true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sat false","offvalueType":"str","officon":"","offcolor":"","x":510,"y":280,"wires":[["c0c4d271.4ae76"]]},{"id":"f7fdaf34.42e43","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Sun","tooltip":"","group":"207335d1.ca82ea","order":10,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sun true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sun false","offvalueType":"str","officon":"","offcolor":"","x":631,"y":277,"wires":[["c0c4d271.4ae76"]]},{"id":"1842bb3b.c5be05","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Mon","tooltip":"","group":"f09b4c6b.32634","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"mon true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mon false","offvalueType":"str","officon":"","offcolor":"","x":310,"y":240,"wires":[["7a9b3530.8ce9ec"]]},{"id":"811a365e.c9c008","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Tue","tooltip":"","group":"f09b4c6b.32634","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"tue true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"tue false","offvalueType":"str","officon":"","offcolor":"","x":430,"y":240,"wires":[["7a9b3530.8ce9ec"]]},{"id":"bd30d049.12f27","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Wed","tooltip":"","group":"f09b4c6b.32634","order":6,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wed true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"wed false","offvalueType":"str","officon":"","offcolor":"","x":550,"y":240,"wires":[["7a9b3530.8ce9ec"]]},{"id":"fb13d58e.774768","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Thur","tooltip":"","group":"f09b4c6b.32634","order":7,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"thu true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"thu false","offvalueType":"str","officon":"","offcolor":"","x":670,"y":240,"wires":[["7a9b3530.8ce9ec"]]},{"id":"55dcda28.aa1cb4","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Fri","tooltip":"","group":"f09b4c6b.32634","order":8,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"fri true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"fri false","offvalueType":"str","officon":"","offcolor":"","x":370,"y":280,"wires":[["7a9b3530.8ce9ec"]]},{"id":"bdada427.084c48","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Sat","tooltip":"","group":"f09b4c6b.32634","order":9,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sat true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sat false","offvalueType":"str","officon":"","offcolor":"","x":490,"y":280,"wires":[["7a9b3530.8ce9ec"]]},{"id":"6237bb15.2b2a44","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Sun","tooltip":"","group":"f09b4c6b.32634","order":10,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sun true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sun false","offvalueType":"str","officon":"","offcolor":"","x":611,"y":277,"wires":[["7a9b3530.8ce9ec"]]},{"id":"fda17259.af54a","type":"ui_toast","z":"4561e151.728e","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":610,"y":60,"wires":[]},{"id":"b77c230e.1141c","type":"ui_audio","z":"4561e151.728e","name":"","group":"e09cb415.12d4c8","voice":"en-GB","always":"","x":800,"y":60,"wires":[]},{"id":"6f06104c.47c2a","type":"ui_switch","z":"4561e151.728e","name":"","label":"Suspend","tooltip":"","group":"e09cb415.12d4c8","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"suspend true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"suspend false","offvalueType":"str","officon":"","offcolor":"","x":620,"y":280,"wires":[["4a4a241b.a5699c"]]},{"id":"4a4a241b.a5699c","type":"change","z":"4561e151.728e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Time changed","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend true","fromt":"str","to":"Timer suspended","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend false","fromt":"str","to":"Timer active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":60,"wires":[["fda17259.af54a","b77c230e.1141c"]]},{"id":"1f30dece.8b3f01","type":"ui_toast","z":"b360ae6b.e4d5c","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":650,"y":80,"wires":[]},{"id":"f5a1fcaa.d1252","type":"ui_audio","z":"b360ae6b.e4d5c","name":"","group":"85a33309.bc607","voice":"en-GB","always":"","x":820,"y":80,"wires":[]},{"id":"ce12f849.394bb8","type":"ui_switch","z":"b360ae6b.e4d5c","name":"","label":"Suspend","tooltip":"","group":"85a33309.bc607","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"suspend true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"suspend false","offvalueType":"str","officon":"","offcolor":"","x":720,"y":300,"wires":[["64f248bf.1db118"]]},{"id":"64f248bf.1db118","type":"change","z":"b360ae6b.e4d5c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Time changed","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend true","fromt":"str","to":"Timer suspended","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend false","fromt":"str","to":"Timer active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["1f30dece.8b3f01","f5a1fcaa.d1252"]]},{"id":"4168b5d7.cf37dc","type":"ui_toast","z":"90acc8cd.cb4ce8","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":670,"y":60,"wires":[]},{"id":"ca0295df.66f238","type":"ui_audio","z":"90acc8cd.cb4ce8","name":"","group":"9c093309.f63e3","voice":"en-GB","always":"","x":860,"y":60,"wires":[]},{"id":"f23cbef2.bb7a3","type":"ui_switch","z":"90acc8cd.cb4ce8","name":"","label":"Suspend","tooltip":"","group":"9c093309.f63e3","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"suspend true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"suspend false","offvalueType":"str","officon":"","offcolor":"","x":720,"y":280,"wires":[["1a750245.7bf58e"]]},{"id":"1a750245.7bf58e","type":"change","z":"90acc8cd.cb4ce8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Time changed","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend true","fromt":"str","to":"Timer suspended","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend false","fromt":"str","to":"Timer active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[["4168b5d7.cf37dc","ca0295df.66f238"]]},{"id":"ca949a13.244988","type":"ui_toast","z":"75bc10ad.6b138","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":610,"y":140,"wires":[]},{"id":"207294d.7f7296c","type":"ui_audio","z":"75bc10ad.6b138","name":"","group":"2bafba2a.dfca76","voice":"en-GB","always":"","x":780,"y":140,"wires":[]},{"id":"ce5b640d.c30ac8","type":"ui_switch","z":"75bc10ad.6b138","name":"","label":"Suspend","tooltip":"","group":"2bafba2a.dfca76","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"suspend true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"suspend false","offvalueType":"str","officon":"","offcolor":"","x":660,"y":360,"wires":[["4c231f01.b2459"]]},{"id":"4c231f01.b2459","type":"change","z":"75bc10ad.6b138","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Time changed","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend true","fromt":"str","to":"Timer suspended","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend false","fromt":"str","to":"Timer active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["ca949a13.244988","207294d.7f7296c"]]},{"id":"1730ef9c.ae9eb","type":"ui_toast","z":"8cb5ced3.be127","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":690,"y":60,"wires":[]},{"id":"55a73f0a.4919d","type":"ui_audio","z":"8cb5ced3.be127","name":"","group":"207335d1.ca82ea","voice":"en-GB","always":"","x":860,"y":60,"wires":[]},{"id":"629ce240.b38a2c","type":"ui_switch","z":"8cb5ced3.be127","name":"","label":"Suspend","tooltip":"","group":"207335d1.ca82ea","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"suspend true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"suspend false","offvalueType":"str","officon":"","offcolor":"","x":780,"y":280,"wires":[["6ec6dab4.8b7214"]]},{"id":"6ec6dab4.8b7214","type":"change","z":"8cb5ced3.be127","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Time changed","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend true","fromt":"str","to":"Timer suspended","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend false","fromt":"str","to":"Timer active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["1730ef9c.ae9eb","55a73f0a.4919d"]]},{"id":"6d27b4a0.77020c","type":"ui_toast","z":"85292ef8.bbef1","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":60,"wires":[]},{"id":"57adeea2.76f8b","type":"ui_audio","z":"85292ef8.bbef1","name":"","group":"f09b4c6b.32634","voice":"en-GB","always":"","x":880,"y":60,"wires":[]},{"id":"61d126b7.54f288","type":"ui_switch","z":"85292ef8.bbef1","name":"","label":"Suspend","tooltip":"","group":"f09b4c6b.32634","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"suspend true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"suspend false","offvalueType":"str","officon":"","offcolor":"","x":760,"y":280,"wires":[["adf78937.68bc78"]]},{"id":"adf78937.68bc78","type":"change","z":"85292ef8.bbef1","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Time changed","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend true","fromt":"str","to":"Timer suspended","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"suspend false","fromt":"str","to":"Timer active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":60,"wires":[["6d27b4a0.77020c","57adeea2.76f8b"]]},{"id":"36c09550.f97e2a","type":"inject","z":"1905811.17e947f","name":"2 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":530,"y":340,"wires":[["557543f0.8e429c"]]},{"id":"557543f0.8e429c","type":"exec","z":"1905811.17e947f","command":"vcgencmd measure_volts | /usr/bin/cut -c6,7,8,9","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":400,"wires":[["a04e1788.5793c8"],[],[]]},{"id":"a04e1788.5793c8","type":"ui_chart","z":"1905811.17e947f","name":"","group":"1e793d68.8cbdb3","order":1,"width":0,"height":0,"label":"CPU power","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"1.10","ymax":"1.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":460,"wires":[[]]},{"id":"504582f.274bf7c","type":"inject","z":"4561e151.728e","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":340,"wires":[["43f91a5f.5f2264"]]},{"id":"43f91a5f.5f2264","type":"function","z":"4561e151.728e","name":"Format Time","func":"\nvar d =new Date(msg.payload);\nmsg.payload=d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["4097a00d.94ea8"]]},{"id":"4097a00d.94ea8","type":"ui_text","z":"4561e151.728e","group":"e09cb415.12d4c8","order":1,"width":"6","height":"1","name":"Current Time","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":340,"wires":[]},{"id":"63398e8.570db7","type":"inject","z":"b360ae6b.e4d5c","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":249,"y":347,"wires":[["f091f7e1.7ccee8"]]},{"id":"f091f7e1.7ccee8","type":"function","z":"b360ae6b.e4d5c","name":"Format Time","func":"\nvar d =new Date(msg.payload);\nmsg.payload=d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":347,"wires":[["b3e2e08a.ce06e"]]},{"id":"b3e2e08a.ce06e","type":"ui_text","z":"b360ae6b.e4d5c","group":"85a33309.bc607","order":1,"width":"6","height":"1","name":"Current Time","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","x":639,"y":367,"wires":[]},{"id":"ae88d1dc.49457","type":"inject","z":"90acc8cd.cb4ce8","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":340,"wires":[["fc3d85c2.b33688"]]},{"id":"fc3d85c2.b33688","type":"function","z":"90acc8cd.cb4ce8","name":"Format Time","func":"\nvar d =new Date(msg.payload);\nmsg.payload=d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["b9c98fd7.401bc"]]},{"id":"b9c98fd7.401bc","type":"ui_text","z":"90acc8cd.cb4ce8","group":"9c093309.f63e3","order":1,"width":"6","height":"1","name":"Current Time","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":360,"wires":[]},{"id":"8d2ba192.31e7","type":"inject","z":"75bc10ad.6b138","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":287,"y":425,"wires":[["787ffe99.c3151"]]},{"id":"787ffe99.c3151","type":"function","z":"75bc10ad.6b138","name":"Format Time","func":"\nvar d =new Date(msg.payload);\nmsg.payload=d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":425,"wires":[["bd66b690.a7bf98"]]},{"id":"bd66b690.a7bf98","type":"ui_text","z":"75bc10ad.6b138","group":"2bafba2a.dfca76","order":1,"width":"6","height":"1","name":"Current Time","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","x":677,"y":445,"wires":[]},{"id":"7b7f8f7d.51cc1","type":"inject","z":"8cb5ced3.be127","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":340,"wires":[["e8bf225d.64322"]]},{"id":"e8bf225d.64322","type":"function","z":"8cb5ced3.be127","name":"Format Time","func":"\nvar d =new Date(msg.payload);\nmsg.payload=d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["a9f6333.b4702d"]]},{"id":"a9f6333.b4702d","type":"ui_text","z":"8cb5ced3.be127","group":"207335d1.ca82ea","order":1,"width":"6","height":"1","name":"Current Time","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":360,"wires":[]},{"id":"f3547c22.f5443","type":"inject","z":"85292ef8.bbef1","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":364,"y":340,"wires":[["32721598.407a9a"]]},{"id":"32721598.407a9a","type":"function","z":"85292ef8.bbef1","name":"Format Time","func":"\nvar d =new Date(msg.payload);\nmsg.payload=d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":340,"wires":[["4dee3b1a.427624"]]},{"id":"4dee3b1a.427624","type":"ui_text","z":"85292ef8.bbef1","group":"f09b4c6b.32634","order":1,"width":"6","height":"1","name":"Current Time","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","x":754,"y":360,"wires":[]},{"id":"4b71c8c.70cfd38","type":"eztimer","z":"4561e151.728e","name":"","autoname":"17:45:00 - 17:46:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":570,"y":100,"wires":[["961d7e3b.f66e6"]]},{"id":"1546b80d.a15c18","type":"eztimer","z":"90acc8cd.cb4ce8","name":"","autoname":"17:45:00 - 17:46:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":590,"y":120,"wires":[["83869c43.ca03b"]]},{"id":"507353f.e1102ac","type":"eztimer","z":"75bc10ad.6b138","name":"","autoname":"17:45:00 - 17:46:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":530,"y":200,"wires":[["5733fc3b.3dbd24"]]},{"id":"c0c4d271.4ae76","type":"eztimer","z":"8cb5ced3.be127","name":"","autoname":"17:45:00 - 17:46:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":610,"y":120,"wires":[["37b45b0.9923ea6"]]},{"id":"7a9b3530.8ce9ec","type":"eztimer","z":"85292ef8.bbef1","name":"","autoname":"17:45:00 - 17:46:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":610,"y":120,"wires":[["61e3206b.f5849"]]},{"id":"f9c89b24.cbd318","type":"eztimer","z":"b360ae6b.e4d5c","name":"","autoname":"17:45:00 - 17:46:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":550,"y":140,"wires":[["ecbb86e9.39e9e8"]]}]
